<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{styles/style.css}">

    </head>
    <body>
        <div id="bg"></div>

        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="form-field">
                <input type="text" placeholder="username" name="username" required/>
            </div>

            <div class="form-field">
                <input type="password" placeholder="password" name="password" required/>                         
            </div>

            <div class="form-field">
                <button class="btn" type="submit">Log in</button>
            </div>
        </form>

    </body>
</html>
